@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

body,
html {
  font-family: "Raleway", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
